.programs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 73px;
    padding: 30px;
}

.program-card {
    width: 250px;
    height: 350px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.program-info {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.program-description {
    margin-top: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.program-name {
    font-size: 20px;
    font-weight: bold;
}

.program-price {
    font-size: 18px;
    margin: 10px 0;
}

.buy-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006CFA;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.buy-btn:hover {
    background-color: #0056b3;
}