.post-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    margin: 135px auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.username {
    font-size: 18px;
    font-weight: bold;
}

.post-date {
    font-size: 14px;
    color: #777;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.detail-item {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.post-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.action-btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: #006CFA;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.action-btn:first-child {
    margin-right: 40px;
}

.action-btn:hover {
    background-color: #0056b3;
}

.edit-delete-actions {
    display: flex;
    gap: 15px;
}

.action-btn.edit, .action-btn.delete {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.likes-count {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.likes-count span {
    color: #333;
    display: inline-flex;
    align-items: center;
}

.comments-container {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.comments-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}



.edit {
    background-color: #006CFA;
}

.edit:hover {
    background-color: #0056b3;
}

.delete {
    background-color: #dc3545;
}

.delete:hover {
    background-color: #c82333;
}