footer {
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: #18181A;
    border: 1px solid rgb(146, 146, 146);
    color: white;
    text-align: center;
  }
  

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
    font-size: 1rem;
}

.footer-links a {
    position: relative;
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    padding-bottom: 5px; /* Оставя място за линията */
}

.footer-links a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease, left 0.3s ease;
}

.footer-links a:hover::after {
    width: 100%;
    left: 0;
}